@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: url(./Images/bodybackground-2.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    height: 60%;
    width: 100%;
    background-color: #ffffffee;
}

.left-image {
    background: #ffce7277;
    width: 30%;
    height: 100%;
    padding: 0;
}

.brand {
    width: 100%;
    padding: 2.5%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33333377;
    position: relative;
    top: 30%;
    font-size: 70px;
    color: #ffffff;
}