@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #ffffffee;
}

.left-image {
    background: url(../Images/bodybackground-2.jpg);
    width: 55%;
    height: 100%;
    padding: 0;
}

.brand {
    width: 100%;
    padding: 2.5%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333dd;
    position: relative;
    top: 40%;
    font-size: 70px;
    color: #ffffff;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

.button {
    background: salmon;
    color: #fff;
    border: 2px solid salmon;
    transition: .2s;
}

.button:hover {
    cursor: pointer;
    background: #fff;
    color: salmon;
    transform: scale(1.025);
}

.salmon {
    color: salmon;
    transition: .2s;
}